
body{
    padding:0;
    margin:0;
    background-color: #eaeaea;
}
.main{
width: 80%;
margin: auto;
}

.content{
    display:grid;

    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;

}
.forums, .last_themes{
      background-color: white;
}
.radius{
     border-radius: 10px !important;
}
.forum{
    display: block;
    height: 250px;
    /*width: 60%;*/
    border: 1px solid #f5f5f5;
}
.forums{

}
.name{
background-color: #63cbe9;

}
.forumname{
    height: 25%;
}

.name p{
    margin: 0;
    padding: 20px 0 0 20px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
.table{
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
}
.table div{
    padding-left: 10px;

}
.welcome{
    position: relative;
    align-items: center;
    height: 300px;
    background: url('/static/sections/img/bg-banner.jpg') repeat-y ;
    /*background-size: cover;*/
}
.menu{
    /*background-color: #1fbbdf;*/
    background: url('/static/sections/img/bg-submenu.png') ;
    background-size: cover;
    height: 50px;
    -webkit-box-shadow: 0px 6px 7px 0px rgba(46,46,46,0.74);
    -moz-box-shadow: 0px 6px 7px 0px rgba(46,46,46,0.74);
    box-shadow: 0px 6px 7px 0px rgba(46,46,46,0.74);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    color: white;
}
.menu > ul{
    list-style: none;
    display: flex;
}
.menu > ul > li{
    margin-right: 15px;
}
.welcome p{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    color: white;
    text-align: center;
}
.border {
    border-bottom: 1px solid #d4d4d4;
}
.row_info{
 background-color: #333333;
 color: white;
}
.subforum_info{
 padding:  20px 0 20px 0;

}

.lastpost{
    margin: 20px;
    /*padding: 10px;*/

}
.lastpost > p{
     font-size: 0.8em;
     margin: 5px;
    color: #8d8783;
}
.lastpost > p > span{
    color: #6cc7e1;
}

.last_post_name{
    color: #383838 !important;
    font-size: 1.1em !important;
    /*font-weight: 400;*/
}

.last_themes{
    border: 1px solid #f5f5f5;
}
.errors > p,.error {
    color:red;
}
.error{
    /*display: inline;*/
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
/*.mce-tinymce{*/
    /*width: 100% !important;*/
/*}*/